In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import warnings

In [5]:
data = pd.read_csv('oil_spill (3).csv')
data.sample(10)

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_41,f_42,f_43,f_44,f_45,f_46,f_47,f_48,f_49,target
706,59,12,97.58,546.08,28,97200,69.75,15.33,884.0,0.22,...,324.50,127.28,84.85,73.48,3.82,0,4556.99,66.09,6.22,0
440,8,84,273.61,1167.85,22,118125,23.11,6.96,1130.0,0.30,...,403.89,320.40,236.27,55.93,1.71,0,13771.48,36.18,15.02,1
97,87,125,1785.22,1487.77,3,312500,38.87,10.31,2740.0,0.27,...,901.39,500.00,288.89,135.64,3.12,0,4736.75,66.31,8.01,0
681,34,13,52.92,580.92,24,105300,61.69,6.99,847.0,0.11,...,484.66,180.00,126.00,49.30,3.85,0,3414.04,66.12,6.05,0
390,122,91,1413.71,891.77,25,227500,35.87,9.61,2130.0,0.27,...,782.62,492.44,250.29,116.19,3.13,0,4943.07,65.93,7.71,0
884,152,19,36.05,427.84,126,153900,59.53,12.15,1281.0,0.20,...,402.49,324.50,244.38,97.32,1.65,0,2355.99,65.91,6.15,0
105,95,175,1647.32,1728.44,94,437500,39.12,6.59,4480.0,0.17,...,1353.70,550.00,300.09,138.81,4.51,0,4386.19,66.41,7.76,0
644,76,11,145.27,576.27,81,89100,57.82,12.07,831.0,0.21,...,270.00,180.00,150.00,51.96,1.80,0,5097.95,66.15,6.34,0
636,68,11,147.45,561.18,120,89100,63.45,19.61,937.0,0.31,...,402.49,127.28,63.64,73.48,6.32,0,5280.98,66.13,6.37,0
599,31,36,284.64,648.92,114,291600,50.06,15.48,2038.0,0.31,...,603.74,569.21,301.42,233.65,2.00,0,12998.43,66.30,6.71,0

In [6]:
data.shape

(937, 50)

In [7]:
data.describe()

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_41,f_42,f_43,f_44,f_45,f_46,f_47,f_48,f_49,target
count,937.000000,937.000000,937.000000,937.000000,937.000000,9.370000e+02,937.000000,937.000000,937.000000,937.000000,...,937.000000,937.000000,937.000000,937.000000,937.000000,937.000000,937.000000,937.000000,937.000000,937.000000
mean,81.588047,332.842049,698.707086,870.992209,84.121665,7.696964e+05,43.242721,9.127887,3940.712914,0.221003,...,933.928677,427.565582,255.435902,106.112519,5.014002,0.128068,7985.718004,61.694386,8.119723,0.043757
std,64.976730,1931.938570,599.965577,522.799325,45.361771,3.831151e+06,12.718404,3.588878,8167.427625,0.090316,...,1001.681331,715.391648,534.306194,135.617708,5.029151,0.334344,6854.504915,10.412807,2.908895,0.204662
min,1.000000,10.000000,1.920000,1.000000,0.000000,7.031200e+04,21.240000,0.830000,667.000000,0.020000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2051.500000,35.950000,5.810000,0.000000
25%,31.000000,20.000000,85.270000,444.200000,54.000000,1.250000e+05,33.650000,6.750000,1371.000000,0.160000,...,450.000000,180.000000,90.800000,50.120000,2.370000,0.000000,3760.570000,65.720000,6.340000,0.000000
50%,64.000000,65.000000,704.370000,761.280000,73.000000,1.863000e+05,39.970000,8.200000,2090.000000,0.200000,...,685.420000,270.000000,161.650000,73.850000,3.850000,0.000000,5509.430000,65.930000,7.220000,0.000000
75%,124.000000,132.000000,1223.480000,1260.370000,117.000000,3.304680e+05,52.420000,10.760000,3435.000000,0.260000,...,1053.420000,460.980000,265.510000,125.810000,6.320000,0.000000,9521.930000,66.130000,7.840000,0.000000
max,352.000000,32389.000000,1893.080000,2724.570000,180.000000,7.131500e+07,82.640000,24.690000,160740.000000,0.740000,...,11949.330000,11500.000000,9593.480000,1748.130000,76.630000,1.000000,55128.460000,66.450000,15.440000,1.000000

In [8]:
data.duplicated().sum()

0

In [9]:
data.isnull().sum()

f_1       0
f_2       0
f_3       0
f_4       0
f_5       0
f_6       0
f_7       0
f_8       0
f_9       0
f_10      0
f_11      0
f_12      0
f_13      0
f_14      0
f_15      0
f_16      0
f_17      0
f_18      0
f_19      0
f_20      0
f_21      0
f_22      0
f_23      0
f_24      0
f_25      0
f_26      0
f_27      0
f_28      0
f_29      0
f_30      0
f_31      0
f_32      0
f_33      0
f_34      0
f_35      0
f_36      0
f_37      0
f_38      0
f_39      0
f_40      0
f_41      0
f_42      0
f_43      0
f_44      0
f_45      0
f_46      0
f_47      0
f_48      0
f_49      0
target    0
dtype: int64

In [10]:
data.columns

Index(['f_1', 'f_2', 'f_3', 'f_4', 'f_5', 'f_6', 'f_7', 'f_8', 'f_9', 'f_10',
       'f_11', 'f_12', 'f_13', 'f_14', 'f_15', 'f_16', 'f_17', 'f_18', 'f_19',
       'f_20', 'f_21', 'f_22', 'f_23', 'f_24', 'f_25', 'f_26', 'f_27', 'f_28',
       'f_29', 'f_30', 'f_31', 'f_32', 'f_33', 'f_34', 'f_35', 'f_36', 'f_37',
       'f_38', 'f_39', 'f_40', 'f_41', 'f_42', 'f_43', 'f_44', 'f_45', 'f_46',
       'f_47', 'f_48', 'f_49', 'target'],
      dtype='object')

### ● Non-Spill: negative case, or majority class.

In [11]:
target_count = data[['target']].value_counts()
target_count

target
0         896
1          41
dtype: int64

In [12]:
target_variable = 'target'
class_count = data[target_variable].value_counts()
majority_class = class_count.idxmax()
negative_class = class_count[majority_class]

print('Majority_class is ' , majority_class)
print('Negative_class is ' , negative_class)

Majority_class is  0
Negative_class is  896

### ● Oil Spill: positive case, or minority class.

In [13]:
target_variable = 'target'
class_count = data[target_variable].value_counts()
minority_class = class_count.idxmin()
positive_case = class_count[minority_class]

print('Minority_class is ' , minority_class)
print('Negative_class is ' , positive_case)

Minority_class is  1
Negative_class is  41

In [14]:
data.corr().head()

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_41,f_42,f_43,f_44,f_45,f_46,f_47,f_48,f_49,target
f_1,1.000000,-0.155581,0.172017,-0.104116,-0.017025,-0.169533,-0.037412,-0.204983,-0.244551,-0.214447,...,-0.286190,-0.167466,-0.156916,-0.141792,-0.139478,-0.163693,-0.202983,0.294422,-0.253698,-0.180531
f_2,-0.155581,1.000000,0.058390,0.052638,-0.036870,0.953947,-0.136761,-0.016822,0.829978,0.128465,...,0.555154,0.777807,0.800939,0.716496,-0.080879,-0.048315,0.118792,-0.128222,0.139417,0.034128
f_3,0.172017,0.058390,1.000000,0.549510,-0.082764,0.050795,-0.627934,-0.349541,0.158686,0.073794,...,0.186920,0.178287,0.129653,0.176883,-0.088310,-0.182458,-0.022098,0.048291,0.162600,-0.035221
f_4,-0.104116,0.052638,0.549510,1.000000,0.048847,0.024693,-0.546205,-0.222063,0.097683,0.202167,...,-0.046934,0.032402,0.022234,0.000664,-0.220461,-0.204776,0.106758,-0.394081,0.476127,-0.050489
f_5,-0.017025,-0.036870,-0.082764,0.048847,1.000000,-0.028431,0.059128,0.123814,-0.047879,0.098573,...,-0.066930,-0.014877,-0.013742,-0.012346,-0.076695,-0.080136,0.070070,-0.135294,0.116896,-0.078598

In [15]:
data1 = data.copy()
data1.head()

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_41,f_42,f_43,f_44,f_45,f_46,f_47,f_48,f_49,target
0,1,2558,1506.09,456.63,90,6395000,40.88,7.89,29780.0,0.19,...,2850.00,1000.00,763.16,135.46,3.73,0,33243.19,65.74,7.95,1
1,2,22325,79.11,841.03,180,55812500,51.11,1.21,61900.0,0.02,...,5750.00,11500.00,9593.48,1648.80,0.60,0,51572.04,65.73,6.26,0
2,3,115,1449.85,608.43,88,287500,40.42,7.34,3340.0,0.18,...,1400.00,250.00,150.00,45.13,9.33,1,31692.84,65.81,7.84,1
3,4,1201,1562.53,295.65,66,3002500,42.40,7.97,18030.0,0.19,...,6041.52,761.58,453.21,144.97,13.33,1,37696.21,65.67,8.07,1
4,5,312,950.27,440.86,37,780000,41.43,7.03,3350.0,0.17,...,1320.04,710.63,512.54,109.16,2.58,0,29038.17,65.66,7.35,0

In [16]:
data1.duplicated().sum()

0

#### This data set have given target variable.
In this data set i use supervise learnig and the target variable is between 0 and 1 .such that we use to clasification.<br>

In [17]:
x = data1.drop('target', axis = 1)

In [18]:
y = data1['target']

In [19]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=45)

In [20]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(749, 49)
(188, 49)
(749,)
(188,)

In [21]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [22]:
def cls_eval(ytest,ypred):
    cm = confusion_matrix(ytest,ypred)
    print(cm)
    print('Accuracy Score',accuracy_score(ytest,ypred))
    print(classification_report(ytest,ypred,zero_division=0))
    
def mscore(model):
    print('Training Score',model.score(x_train,y_train))  
    print('Testing Score',model.score(x_test,y_test))

### 1. Build the model from Random Forest Classifier

In [25]:
rf = RandomForestClassifier(n_estimators=80,criterion='gini')
rf.fit(x_train,y_train)

RandomForestClassifier(n_estimators=80)

In [26]:
mscore(rf)
# data is balanced

Training Score 1.0
Testing Score 0.973404255319149

### Model prediction

In [27]:
ypred_rf = rf.predict(x_test)
print(ypred_rf)
ypred_rf.shape

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0]

(188,)

### Evaluating the model

In [192]:
cls_eval(y_test,ypred_rf)

[[179   1]
 [  3   5]]
Accuracy Score 0.9787234042553191
              precision    recall  f1-score   support

           0       0.98      0.99      0.99       180
           1       0.83      0.62      0.71         8

    accuracy                           0.98       188
   macro avg       0.91      0.81      0.85       188
weighted avg       0.98      0.98      0.98       188

### 2. Build the model from Decision Tree Classifier

In [159]:
df1.head()

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_41,f_42,f_43,f_44,f_45,f_46,f_47,f_48,f_49,target
0,1,2558,1506.09,456.63,90,6395000,40.88,7.89,29780.0,0.19,...,2850.00,1000.00,763.16,135.46,3.73,0,33243.19,65.74,7.95,1
1,2,22325,79.11,841.03,180,55812500,51.11,1.21,61900.0,0.02,...,5750.00,11500.00,9593.48,1648.80,0.60,0,51572.04,65.73,6.26,0
2,3,115,1449.85,608.43,88,287500,40.42,7.34,3340.0,0.18,...,1400.00,250.00,150.00,45.13,9.33,1,31692.84,65.81,7.84,1
3,4,1201,1562.53,295.65,66,3002500,42.40,7.97,18030.0,0.19,...,6041.52,761.58,453.21,144.97,13.33,1,37696.21,65.67,8.07,1
4,5,312,950.27,440.86,37,780000,41.43,7.03,3350.0,0.17,...,1320.04,710.63,512.54,109.16,2.58,0,29038.17,65.66,7.35,0

In [160]:
from sklearn.tree import DecisionTreeClassifier

In [169]:
dt1 = DecisionTreeClassifier(criterion='gini')
dt1.fit(x_train,y_train)

DecisionTreeClassifier()

In [170]:
mscore(dt1)

Training Score 1.0
Testing Score 0.9574468085106383

In [171]:
ypred_dt1 = dt1.predict(x_test)
print(ypred_dt1)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0]

In [172]:
cls_eval(y_test,ypred_dt1)

[[175   5]
 [  3   5]]
Accuracy Score 0.9574468085106383
              precision    recall  f1-score   support

           0       0.98      0.97      0.98       180
           1       0.50      0.62      0.56         8

    accuracy                           0.96       188
   macro avg       0.74      0.80      0.77       188
weighted avg       0.96      0.96      0.96       188

### 3. Build the model LogisticRegression Model

In [178]:
from sklearn.linear_model import LogisticRegression

In [179]:
log_reg = LogisticRegression(max_iter=1000,solver='liblinear')
log_reg.fit(x_train,y_train)

LogisticRegression(max_iter=1000, solver='liblinear')

In [180]:
mscore(log_reg)

Training Score 0.9679572763684913
Testing Score 0.973404255319149

In [181]:
ypred_logreg = log_reg.predict(x_test)
print(ypred_logreg)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0]

In [182]:
cls_eval(y_test,ypred_logreg)

[[177   3]
 [  2   6]]
Accuracy Score 0.973404255319149
              precision    recall  f1-score   support

           0       0.99      0.98      0.99       180
           1       0.67      0.75      0.71         8

    accuracy                           0.97       188
   macro avg       0.83      0.87      0.85       188
weighted avg       0.98      0.97      0.97       188

In [193]:
acc_log = accuracy_score(y_test,ypred_logreg)
acc_randf = accuracy_score(y_test,ypred_rf)
acc_dec = accuracy_score(y_test,ypred_dt1)
print('Accuracy of LogisticRegression Model is',acc_log)
print('Accuracy of Random Forest Classifier Model is',acc_randf)
print('Accuracy of Decision Tree Classifier Model is',acc_dec)

Accuracy of LogisticRegression Model is 0.973404255319149
Accuracy of Random Forest Classifier Model is 0.9787234042553191
Accuracy of Decision Tree Classifier Model is 0.9574468085106383